<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="UTF-8" />
    <title>任务列表</title>
    <link
      rel="stylesheet"
      href="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/4.6.0/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdn.bootcdn.net/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    />
    <style>
      .modal-header,
      .modal-footer {
        border: none;
      }
      .modal-header h5 {
        margin: 0;
      }
      .form-group {
        margin-bottom: 0;
      }
      .form-check {
        margin-bottom: 10px;
      }
      .cron-form-group {
        display: none;
      }
      .form-control[disabled] {
        background-color: #f8f9fa;
      }
      .table td,
      .table th {
        vertical-align: middle;
      }
      .badge {
        font-size: 13px;
        font-weight: normal;
      }
    </style>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-3">
      <a class="navbar-brand" href="#">任务列表</a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarNav"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav mr-auto"></ul>
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="#" id="logout-link">退出</a>
          </li>
        </ul>
      </div>
    </nav>

    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <div class="card">
            <div class="card-header">添加任务</div>
            <div class="card-body">
              <form id="add-task-form">
                <div class="form-group">
                  <label for="url-input">URL</label>
                  <input
                    type="text"
                    class="form-control"
                    id="url-input"
                    required
                  />
                </div>
                <div class="form-group">
                  <label for="method-select">请求方式</label>
                  <select class="form-control" id="method-select" required>
                    <option value="GET" select="select">GET</option>
                    <option value="POST">POST</option>
                  </select>
                </div>
                <div class="form-group">
                  <label for="params-input">请求参数</label>
                  <textarea
                    class="form-control"
                    id="params-input"
                    rows="3"
                  ></textarea>
                </div>
                <div class="form-check">
                  <input
                    class="form-check-input"
                    type="radio"
                    name="interval-cron-radio"
                    id="interval-radio"
                    value="interval"
                    checked
                  />
                  <label class="form-check-label" for="interval-radio">
                    固定时间间隔
                  </label>
                </div>
                <div class="interval-form-group">
                  <div class="form-group">
                    <label for="interval-input">秒数</label>
                    <input
                      type="number"
                      class="form-control"
                      id="interval-input"
                      min="1"
                    />
                  </div>
                </div>
                <div class="form-check">
                  <input
                    class="form-check-input"
                    type="radio"
                    name="interval-cron-radio"
                    id="cron-radio"
                    value="cron"
                  />
                  <label class="form-check-label" for="cron-radio">
                    Cron表达式
                  </label>
                </div>
                <div class="cron-form-group">
                  <div class="form-group">
                    <label for="cron-input">表达式</label>
                    <input type="text" class="form-control" id="cron-input" />
                  </div>
                </div>
                <button
                  type="submit"
                  class="btn btn-primary btn-block"
                  style="margin-top: 10px"
                >
                  添加任务
                </button>
              </form>
            </div>
          </div>
        </div>
        <div class="col-md-8">
          <div class="card">
            <div class="card-header">任务列表</div>
            <div class="card-body">
              <table class="table table-bordered">
                <thead>
                  <tr>
                    <th>ID</th>
                    <th>URL</th>
                    <th>请求方式</th>
                    <th>请求参数</th>
                    <th>时间间隔/Cron表达式</th>
                    <th>上次执行时间</th>
                    <th>下次执行时间</th>
                    <th>状态</th>
                    <th>操作</th>
                  </tr>
                </thead>
                <tbody></tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div
      class="modal fade"
      id="remove-task-modal"
      tabindex="-1"
      role="dialog"
      aria-labelledby="remove-task-modal-label"
      aria-hidden="true"
    >
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="remove-task-modal-label">删除任务</h5>
            <button
              type="button"
              class="close"
              data-dismiss="modal"
              aria-label="Close"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">确定要删除该任务吗？</div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-dismiss="modal"
            >
              取消
            </button>
            <button
              type="button"
              class="btn btn-danger"
              id="remove-task-button"
            >
              删除
            </button>
          </div>
        </div>
      </div>
    </div>

    <script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/4.6.0/js/bootstrap.min.js"></script>
    <script src="https://cdn.bootcdn.net/ajax/libs/popper.js/2.9.3/umd/popper.min.js"></script>
    <script src="https://cdn.bootcdn.net/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
    <script src="https://cdn.bootcdn.net/ajax/libs/bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js"></script>
    <script>
      $(function () {
        // 页面加载时判断是否已经登录，如果未登录则跳转到登录页面
        if (!localStorage.getItem('token')) {
          alert('请先登陆')
          // window.location.href = '/'
          return
        }

        // 显示或隐藏时间间隔和Cron表达式输入框
        $('input[name="interval-cron-radio"]').change(function () {
          if ($(this).val() === 'interval') {
            $('.interval-form-group').show()
            $('.cron-form-group').hide()
          } else {
            $('.interval-form-group').hide()
            $('.cron-form-group').show()
          }
        })

        // 初始化时间选择器
        // $('#cron-input').datetimepicker({
        //  format: 'YYYY-MM-DD HH:mm:ss',
        //  locale: 'zh-cn',
        // })

        // 提交添加任务表单
        $('#add-task-form').submit(function (e) {
          e.preventDefault()
          var url = $('#url-input').val()
          var method = $('#method-select').val()
          var params = $('#params-input').val()
          var interval = null
          var cron = null
          if ($('#interval-radio').prop('checked')) {
            interval = $('#interval-input').val()
          } else {
            cron = $('#cron-input').val()
          }
          $.ajax({
            type: 'POST',
            url: '/api/add',
            headers: {
              Authorization: 'Bearer ' + localStorage.getItem('token'),
            },
            data: JSON.stringify({
              url: url,
              method: method,
              params: params,
              interval: interval,
              cron: cron,
            }),
            contentType: 'application/json;charset=utf-8',
            dataType: 'json',
            success: function (data) {
              alert('添加任务成功')
              $('#add-task-form')[0].reset()
              refreshTaskList()
            },
            error: function (xhr, textStatus, errorThrown) {
              alert(xhr.responseText)
            },
          })
        })

        // 点击删除任务按钮，显示删除任务确认框
        $('body').on('click', '.remove-task-button', function () {
          var taskId = $(this).data('task-id')
          $('#remove-task-modal').data('task-id', taskId).modal('show')
        })

        // 点击删除任务确认框中的删除按钮，删除任务
        $('#remove-task-button').click(function () {
          var taskId = $('#remove-task-modal').data('task-id')
          $.ajax({
            type: 'POST',
            url: '/api/remove',
            headers: {
              Authorization: 'Bearer ' + localStorage.getItem('token'),
            },
            data: JSON.stringify({
              id: taskId,
            }),
            contentType: 'application/json;charset=utf-8',
            dataType: 'json',
            success: function (data) {
              alert('删除任务成功')
              $('#remove-task-modal').modal('hide')
              refreshTaskList()
            },
            error: function (xhr, textStatus, errorThrown) {
              alert(xhr.responseText)
            },
          })
        })

        // 点击退出按钮，清除localStorage中的令牌并跳转到登录页面
        $('#logout-link').click(function (e) {
          e.preventDefault()
          // 此代码将循环遍历所有 cookie，将其名称设置为空字符串，并将过期时间设置为过去的某个时间，使 cookie 立即过期并从客户端删除。请注意，由于同一站点中的 cookie 可能会使用不同的路径设置，因此在设置过期时间时需要包含路径参数（path=/）。
          var cookies = document.cookie.split(';')
          for (var i = 0; i < cookies.length; i++) {
            var cookie = cookies[i]
            var eqPos = cookie.indexOf('=')
            var name = eqPos > -1 ? cookie.substr(0, eqPos) : cookie
            document.cookie =
              name + '=; expires=Thu, 01 Jan 1970 00:00:00 UTC; path=/;'
          }
          localStorage.removeItem('token')
          window.location.href = '/'
        })

        // 刷新任务列表
        function refreshTaskList() {
          $.ajax({
            type: 'GET',
            url: '/api/list',
            headers: {
              Authorization: 'Bearer ' + localStorage.getItem('token'),
            },
            dataType: 'json',
            success: function (data) {
              var tbody = $('tbody').empty()
              for (var i = 0; i < data.length; i++) {
                var task = data[i]
                var tr = $('<tr>')
                tr.append($('<td>').text(task.id))
                tr.append($('<td>').text(task.url))
                tr.append($('<td>').text(task.method))
                tr.append($('<td>').text(task.params))
                if (task.interval) {
                  tr.append($('<td>').text(task.interval + '秒'))
                } else {
                  tr.append($('<td>').text(task.cron))
                }
                if (task.last_execution_time) {
                  tr.append(
                    $('<td>').text(
                      moment
                        .utc(task.last_execution_time)
                        .local()
                        .format('YYYY-MM-DD HH:mm:ss')
                    )
                  )
                } else {
                  tr.append($('<td>').text('-'))
                }
                tr.append(
                  $('<td>').text(
                    moment
                      .utc(task.next_execution_time)
                      .local()
                      .format('YYYY-MM-DD HH:mm:ss')
                  )
                )
                if (task.status === 'running') {
                  tr.append(
                    $('<td>').html(
                      '<span class="badge badge-success">运行中</span>'
                    )
                  )
                } else {
                  tr.append(
                    $('<td>').html(
                      '<span class="badge badge-secondary">停止</span>'
                    )
                  )
                }
                var operationTd = $('<td>')
                var removeButton = $('<button>')
                  .addClass('btn btn-danger btn-sm remove-task-button')
                  .data('task-id', task.id)
                  .text('删除')
                operationTd.append(removeButton)
                tr.append(operationTd)
                tbody.append(tr)
              }
            },
            error: function (xhr, textStatus, errorThrown) {
              alert(xhr.responseText)
            },
          })
        }

        // 刷新任务列表
        refreshTaskList()
      })
    </script>
  </body>
</html>
